query
setenv.sh
test.sh
example/postgres/postgres
example/sqlite/sqlite
example/sqlite/database.sqlite3
example/mysql/mysql
example/meilisearch/meilisearch
example/nostr-search/nostr-search
example/bleve/bleve
example/bleve/example.bleve
